// style for dekstop
.main {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #060a22;

  &__images {
    display: block;
    max-width: 100%;
    object-fit: contain;
    max-height: 400px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    justify-content: space-between;
  }

  &__select {

    /* Remove IE arrow */
    select::-ms-expand {
      display: none;
    }

    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: 0.25em;
    margin-top: 20px;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: #2c3e50;
      background-image: none;
      flex: 1;
      padding: 0 0.5em;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
    }

    /* Arrow */
    &::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      background: #34495e;
      cursor: pointer;
      pointer-events: none;
      -webkit-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease;
    }

    /* Transition */
    &:hover::after {
      color: #f39c12;
    }
  }

  &__disclaimer {
    color: gray;
    width: 50%;
    min-width: 240px;
    max-width: 800px;
    margin-top: 80px;

    p {
      font-size: 14px;
      text-align: center;
      font-family: 'segoe';
    }

  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(90deg,
        rgba(31, 30, 30, 1) 17%,
        rgba(21, 59, 44, 1) 59%,
        rgba(31, 30, 30, 1) 100%);
    color: white;
    font-family: 'segoe';
    font-style: italic;

    .footerItem {
      &__heart {
        color: red;
        fill: red;
      }

      &__link {
        font-size: 16px;
        color: green;
        margin: 4px;
        text-transform: uppercase;
      }
    }
  }
}

.assets {
  color: white;

  &__asset {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    color: white;
    cursor: move;

    .assetItem {
      display: flex;
      margin-right: 40px;
      width: 150px;
      align-items: center;
      font-family: 'consolas';

      &__logo {
        height: 40px;
        object-fit: contain;
        margin-right: 20px;
      }

      &__coin {
        width: 100%;
      }

      &__car {
        &--name {
          font-size: 14px;
        }
      }

      &__name {
        text-transform: uppercase;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__fullName {
        text-transform: lowercase;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__value {
    height: 40px;
    font-size: 16px;
    margin: 6px;
  }

  &__delete {
    margin-left: 6px;
    width: 30px;
    height: 30px;
    background: #9a1717;
    border: none;
    color: white;
  }
}

// style for small screens
@media (max-width: 520px) {
  .main {
    &__images {
      object-fit: fill;
      height: 230px;
    }

    &__select {
      width: 300px;
      margin-top: 10px;
      height: 2.4em;
      line-height: 2.4em;

      select {
        font-size: 14px;
      }
    }

    &__disclaimer {
      width: auto;
      min-width: 240px;
      margin-top: 20px;
      padding: 10px;

      p {
        font-size: 12px;
      }

    }
  }

  .assets {
    max-width: 100vw;

    &__asset {
      padding: 0;
      margin: 20px 16px 20px 10px;

      .assetItem {
        margin-right: 14px;
        max-width: 120px;
        letter-spacing: -0.5px;

        &__logo {
          height: 30px;
          width: 50px;
          margin-right: 10px;
        }

        &__coin {
          width: 100%;
        }

        &__car {
          &--name {
            font-size: 12px;
          }
        }

        &__name {
          font-size: 16px;
          max-width: 100px;
        }

        &__fullName {
          font-size: 12px;
        }
      }
    }

    &__value {
      width: 100px;
      height: 30px;
      font-size: 14px;
    }

    &__delete {
      height: 24px;
      width: 24px;
    }
  }
}

// style for material drag and drop
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .assets__asset:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
