<div class="holder">
  SWTH FUN


  <div class="assets">
    <div *ngFor="let asset of assets">
      <input class="values" type="text" id="{{asset.name}}" name="{{asset.name}}" value="{{asset.value}}"
             (input)="calculateValues(asset, $event)">
      <label for="{{asset.name}}">{{asset.name}}</label>
    </div>
  </div>


  <footer class="footer">
    <p><span class="heart">♡</span><a href="https://switcheo.network/">switcheo network</a></p>
    <p><span class="heart">♡</span><a href="https://switcheo.exchange/markets/SWTH_NEO?soft=orderbook">SWTH_NEO</a></p>
    <p><span class="heart">♡</span><a href="https://switcheo.foundation/">switcheo foundation</a></p>
    <p><span class="heart">♡</span><a href="https://dem.exchange/">demex</a></p>
    <p><span class="heart">♡</span><a href="https://t.me/switcheomonitorbot">switcheo monitor bot</a></p>
  </footer>

</div>

